.outline-sidebar:not(.collapsed) {
    width: 32.125rem;
    max-width: 100%;
    overflow: auto;
}

.outline-sidebar-heading-wrapper {
    border: 1px solid #d7d3d1;

    .outline-sidebar-heading {
        font-weight: 700;
    }
}

.course-outline-sidebar-section {
    background: $white;
    border: 1px solid #d7d3d1;

    button {
        line-height: 1.75rem;

        &.focus::before,
        &:focus::before {
            border-radius: 0;
        }
    }
}

.outline-sidebar-toggle-btn {
    font-size: 1.5rem;

    .collapsed & {
        transform: scale(-1, 1);
    }
}

#outline-sidebar-outline {
    margin-top: -1px;

    li {
        font-size: 1rem;
        line-height: 1.5rem;

        .collapsible-trigger {
            padding: 1.375rem 1.5rem 1.375rem 3.375rem;

            @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
                padding-left: 1.5rem;

                .collapsible-icon {
                    margin-inline-start: initial;
                }
            }
        }
    }

    .collapsible-body {
        padding: 0;

        ol li {
            padding: 1.375rem 1.5rem 1.375rem 3.375rem;

            @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
                padding-left: 1.5rem;
            }
        }
    }
}
